body {
			"C:\Users\Poello\Documents\POELLO.SEKHEO\images\BG.jpg"
			font-family: italic;
			color: black;
		}
		.type1{

			display: block;
			margin: 0px auto;
	p{
			font-family: Tahoma;
			padding: 10px;
			background-color: #ee3e80;	
		}
h5,h6{
			
			
			font-size: 200%;
		}
	p{
		 	background-color:  #ee3e80;
		 	font-family: tahoma;

		}
	p{
			background-color: #ee3e80;
			padding: 50px;	
	